@media screen and (max-width:992px ) {
  body{
    display: block;
  }
/*menu navegacion*/
  #navegacion {
    display: none;
  }
  #navResponsive {
    display: none;
  }

  #navResponsive{
    background: url(../img/menu-responsive.png)  black center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top:0;
    width: 100%;
    justify-content: center;
    z-index: 99999;
  }

  #navResponsive a {
    color: white;
    text-decoration: none;
    font-family: punk;
  }
  #navResponsive li{
    list-style: none;
    padding-bottom: 30px;
    text-align: center;
  }

  /*barra de menu*/
    #menu_bar {
      display:block;
      width:100%;
      background:#F09A9D;
      position: fixed;
      z-index: 9999;
    }

    .active{
      position: absolute;
      z-index: 999;
      background: transparent;
    }
    /*icono menu*/
      #menu_bar #boton img{
          width: 40px;
          margin: 10px;
      }
      .logoaResponsive{
        height: 150px;
      }

      #produktuak .pagina{
        min-height: 700px;
      }
      #produktuak .contenido{
        flex-direction: column;
      }
      #produktuak .contenido #mapid{
        margin-left: 0;
        height: 500px;
      }
      #produktuak .contenido #drpDownMap{

      }
/*sections*/

   section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left:-15%;
    }a
    .paginas{
          margin-top: 80px;
        }

/*BLOG BERRIAK*/

    .blog-titulo h2 {
      margin-top: 20%;
      margin-bottom: 0;
    }




/*hasierako div-ak*/
/*.galdera1{
  flex-direction: column;
}

.irudia1 img {

    position: absolute;
    left: 20%;
    top: 130px;
    height: 150px;
}
.irudia1{
  padding-bottom: 190px;
}
.texto1 {
    margin-left: 15%;
    width: 75%;
    padding-top: 130px;
}
galderak {

    height: 100vh;
    display: none;

}
