@media screen and (max-width:992px ) {
  body{
    display: block;
  }
/*****************************************************************/
/**************************** MENU********************************/
/*****************************************************************/
  #navegacion {
    display: none;
  }
  #menu_bar {
    display: flex;
    width: 100%;
    background:rgba(255, 255, 255, 0) url("../img/fondo.png") repeat scroll 0% 0%;
    position: fixed;
    z-index: 9999;
    align-items: center;
    justify-content: space-between;
    height: 55px;
  }
  #menu_bar a, #menu_bar p{
    color: white;
    text-decoration: none;
    font-family: punk;
  }
  #menu_bar #boton{
    width: 60px;
    display: block;
    height: 55px;
  }
  #menu_bar #boton img{
    width: 40px;
    margin: 10px;
  }
  #menu_bar #manifestua{
    background: black;
    color:white;
    padding: 0px 10px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu_bar #navResponsive{
    display: none;
    /*background: url(../img/fondo.png)  black center;*/
    background: black;
    align-items: center;
    height: 100vh;
    position: fixed;
    top:55px;
    width: 45%;
    justify-content: center;
    z-index: 99999;
  }

  @media screen and (max-width:768px ){
    #menu_bar #navResponsive{ width: 100% !important; }
  }
  #menu_bar #navResponsive ul{
    width: 100%;
  }
  #menu_bar #navResponsive li{
    list-style: none;
    margin: 10px 0px;
    text-align: center;
  }
  #menu_bar #navResponsive li a{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu_bar #navResponsive li#uno a{
    height: auto;
  }
  #menu_bar #navResponsive .logoaResponsive{
    height: 150px;
  }
  .active{
    position: absolute;
    z-index: 999;
    background: transparent;
  }
/*****************************************************************/
/************************ PRODUKTUAK *****************************/
/*****************************************************************/
  #produktuak .pagina{
    min-height: 700px;
  }
  #produktuak .contenido{
    flex-direction: column;
  }
  #produktuak .contenido #mapid{
    margin-left: 0;
    height: 500px;
  }
  #produktuak .contenido #drpDownMap{

  }
/*****************************************************************/
/************************ MERCHANDISING *****************************/
/*****************************************************************/
#merchan .merchandising h2 {margin-top: 15%;}
#merchan .merchandising h3{font-size: 1.5em;}
#merchan .merchandising .merchand{
  flex-direction: column;
}
#merchan .objetos-merchan{width: 100%;}
#merchan .merchandising .merchand .parche0 img{ width: 100%;}
#merchan .merchandising .merchand .parche1 img{ width: 100%;}
#merchan .merchandising .merchand .parche2 img{ width: 100%;}
#merchan .merchandising .merchand .txapa img{ width: 80%; }
.txapaImg{
  display: flex;
justify-content: center;
}
.txapa .deskribapena1{
  margin-top: -10%;
}



/************************ HASIERA ********************************/
#hasiera .manifest, #hasiera .mierda{ display: none;}

#hasiera .paginas{ width: 100%; }
#hasiera .paginas .paginaPrincipal{ padding: 63px 8px; }
@media screen and (max-width:768px ) {
  #hasiera .paginas .paginaPrincipal .galderak{
    flex-direction: column;
    margin-bottom: 40px;
  }
}
#hasiera .paginas .paginaPrincipal .galderak div{ width: 100%;}
#hasiera .paginas .paginaPrincipal .galderak div img{ width: 100%; height: 100%;}



   section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left:-15%;
    }a
    .paginas{
          margin-top: 80px;
        }

/************************ BERRIAK ********************************/
#berriak #berriakContainer .blog-titulo{
  margin-top: 60px;
  padding: 10px;
}
#berriak #berriakContainer .blog-titulo h2{
  font-size: 24px;
}
@media screen and (max-width:768px ){
  #berriak #berriakContainer .contenido-blog{
    width: 90%;
  }
}
/***************************EGITARAUA**************************************/
@media screen and (max-width:768px ){
  #egitaraua .contenidoEgitaraua {
    flex-flow: column;
    margin-top: 20%;
}
.otsaiak1{height: 60%;}
.textoEgitaraua {
    display: flex;
    flex-flow: column;
    margin-left: 10%;
}
#egitaraua .contenidoEgitaraua {
    display: flex;
    align-items: center;
}
.h2Egitaraua {

    text-align: center;
    width: 80%;

}
/***********************KONTAKTUA******************************************/

@media screen and (max-width:768px ){
  #kontaktua .testoKontakto {
      max-width: 80%;
    }

/*
#kontaktua .testoKontakto {
    padding: 2em;
    text-align: center;
    position: absolute;
    margin-top: 20%;
}
.h2h3 {
    width: 50%;
}

}
/*hasierako div-ak*/
/*.galdera1{
  flex-direction: column;
}

.irudia1 img {

    position: absolute;
    left: 20%;
    top: 130px;
    height: 150px;
}
.irudia1{
  padding-bottom: 190px;
}
.texto1 {
    margin-left: 15%;
    width: 75%;
    padding-top: 130px;
}
galderak {

    height: 100vh;
    display: none;

}
