/*
colores:
  #8EB726 -->verde pistacho
  #50162D --> granate disroot
  #1F5C60--> turkesa
*/

@font-face {
font-family: titulo;
src: url(../font/ComicRunes.otf) format("opentype");
}
@font-face {
font-family: menu;
src: url(../font/upheavtt.ttf) format("opentype");
}
@font-face {
font-family: punk;
src: url(../font/ShonenPunk1.ttf) format("opentype");
}
@font-face {
font-family: texto;
src: url(../font/Courier\ Prime\ Code.ttf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  font-size: 15px;
}
a{text-decoration: none;}
/**********************************************************************************************************/
/**************************************** MENU NAVEGACION *************************************************/
/**********************************************************************************************************/
#menu_bar{
  display: none;
}
#navegacion{
  background:rgba(255, 255, 255, 0) url("../img/fondo.png") repeat scroll 0% 0%;
  display: flex;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 15%;
  justify-content: center;
}
#navegacion ul{
  width: 100%;
}
#navegacion li#uno{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 175px;
}
#navegacion li#uno a{
  height: auto;
  width: auto;
  position:absolute;
}
#navegacion .linkLogo{
  position: relative !important;
  height: 140px !important;
  width: 120px !important;
  background:  yellow;
  border-radius: 50%;
  transform: rotate(30deg)
}
#navegacion .logo{
  position: absolute;
  height: 120px;
  width: 100px;
  transform: rotate(-30deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#navegacion .logoa{
  background: url("../img/logoFroga00.png") no-repeat center;
  background-size: contain;
  z-index: 1;
}
#navegacion .logoFondo1{
  display: none;
  background: url("../img/logoFroga1.png") no-repeat center;
  background-size: contain;
  z-index: 0;
  left: 10px;
  top: 12px;
}
#navegacion .logoFondo2{
  display: none;
  background: url("../img/logoFroga2.png")no-repeat center;
  background-size: contain;
  z-index: 0;
  left: 12px;
  top: 10px;
}
#navegacion .linkLogo:hover{
  background:  yellow !important;
  box-shadow: 0px 0px 15px yellow;
}
#navegacion .linkLogo:hover .logoFondo1, #navegacion .linkLogo:hover .logoFondo2{
  display: block;
  animation-name: glitch1;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}
#navegacion .linkLogo:hover .logoFondo1{animation-name: glitch1;}
@keyframes glitch1{ from{left: 10px;} to {left: 8px;} }

#navegacion .linkLogo:hover .logoFondo2{animation-name: glitch2;}
@keyframes glitch2{ from{left: 12px;} to {left: 10px;} }

#navegacion li{
  list-style: none;
  width: 100%;
}
#navegacion a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  text-shadow: 3px 2px black;
  font-family: punk;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#navegacion .link:hover {
  background: #000;
}

/**********************************************************************************************************/
/**************************************** FONDO SECTIONS* *************************************************/
/**********************************************************************************************************/
#berriak{background: rgba(13,13,13,1);  color: white;}
#galeria{ background: rgb(73, 24, 61);}
#nola-heldu{background: rgba(156,115,2,1);}
#egitaraua{background: rgba(101,1,53,1);}
#produktuak{ background: linear-gradient(to right, rgb(97, 0, 50) 0%, rgb(143, 87, 199) 0%, rgb(143, 87, 199) 32%, rgb(143, 87, 199) 100%);}
#merchan{background: rgba(173,95,0,1);}
#kontaktua{background: url(../img/fondo6.png)}

/**********************************************************************************************************/
/************************************************ PAGINAS *************************************************/
/**********************************************************************************************************/
section #hasiera, section #berriak, section #galeria, section #nola-heldu, section #produktuak{
  display: flex;
  align-items: center;
}
/**********************************************************************************************************/
/*********************************************** GENERICO *************************************************/
/**********************************************************************************************************/
section{
  min-height: 100vh;
  width: 90%;
  margin-left: 15%;
  font-weight: bold;
}
section p {
  font-family: texto;
  line-height: 1.6;
}
section p span{
  padding: 0.45rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background:black;
  color:white;
  font-size: 90%;
}
.pagina{
  text-align: center;
  margin:20px;
  width: 100%;
}
h1{
   margin-bottom: 50px;
   display: none;
}
h2{
   margin-bottom: 30px;
  font-family: texto;
}
.oculto{
  display:none;
}
.galeria img{
   width: 33.33%;
   padding: 5px;
}

/**********************************************************************************************************/
/************************************************ HASIERA *************************************************/
/**********************************************************************************************************/
#hasiera .mierda{
  width: 100%;
  height: 100px;
  background-image: url("../img/logoHandia.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#hasiera{
/*
background: -moz-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,38,0,1)), color-stop(23%, rgba(0,255,17,1)), color-stop(53%, rgba(0,255,230,1)), color-stop(82%, rgba(157,0,255,1)), color-stop(100%, rgba(247,21,0,1)));
background: -webkit-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2600', endColorstr='#f71500', GradientType=0 );
background: linear-gradient(to bottom, #F7E06C 0%, #F8CED2 25%, #ED5B46 50%, #8BD0B4 75%, #D8EEE7 100%);
}
#hasiera .paginaPrincipal{
  background: url("../img/fondo31.png") repeat scroll 0% 0%;
  padding: 20px;
}
#hasiera .paginaPrincipal p{
  color:black;
}
#hasiera .paginaPrincipal p::before{
  /*content: "";*/
  width: 100%;
  height: 80%;
  position: absolute;
  top: 18%;
  left: -20px;
  transform: rotate(-2deg);
  border: solid 4px #ff00ffff;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
}
#hasiera .paginaPrincipal p::after{
  /*content: "";*/
  width: 100%;
  height: 80%;
  position: absolute;
  transform: rotate(1deg);
  border: solid 4px #03EC23;
  top: 20%;
  left: -20px;
}
#hasiera .paginaPrincipal .galderak{
  min-height: 500px;
  /*height: 100vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
#hasiera .paginaPrincipal .galderak div {
  width: 50%;
  position: relative;
}
#hasiera .paginaPrincipal .galderak .irudia1 img{left: -5%;top: -160px;height: 300px;}
#hasiera .paginaPrincipal .galderak .irudia2 img{left: 65%;top: -160px;height: 300px;}
#hasiera .paginaPrincipal .galderak .irudia3 img{left: -5%;top: -160px;height: 300px;}
#hasiera .paginaPrincipal .galderak .irudia4 img{left: 65%;top: -160px;height: 300px;}

/*#hasiera .paginaPrincipal .galderak .texto2{left: 5%;}
#hasiera .paginaPrincipal .galderak .texto4 {left: 5%;}*/

#hasiera .paginaPrincipal .galderak h2 .ezmisto{
  color:black;
  display: inline-flex;
  transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  border: 4px solid #ff00aaff;
}
#hasiera .paginaPrincipal .galderak h2 .ezmisto2{
  color:black;
  display: inline-flex;
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  border: 4px solid #ff00ffff;
}
/**********************************************************************************************************/
/************************************************ MANIFESTUA ***********************************************/
/**********************************************************************************************************/
#hasiera .manifest {
  display: inline-block;
  position: fixed;
  z-index: 1;
  top: 85%;
  left: 60%;
  background: black;
  padding: 11px;
  border: solid #f0f;
}
#hasiera .manifest a .manifestua{
  color: yellow;
  font-family: texto;
  font-size: 20px;
}
/**********************************************************************************************************/
/************************************************ BERRIAK *************************************************/
/**********************************************************************************************************/
#berriak #berriakContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#berriak #berriakContainer .blog-titulo{
  padding: 20px;
  font-size: 40px;
  text-align: center;
  background:black;
  margin-top: 50px;
  border: 2px solid#ff00ffff;
}
#berriak #berriakContainer .blog-titulo h2{
  margin-bottom: 0px;
}
#berriak #berriakContainer .contenido-blog{
  color:black;
  width: 80%;
  margin-top: 20px;
}
#berriak #berriakContainer .contenido-blog .card {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}
#berriak #berriakContainer .contenido-blog .card .img{
  margin: 15px 0px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#berriak #berriakContainer .contenido-blog .card .img img{
  width: 50%;
}
/* Add a card effect for articles */


/**********************************************************************************************************/
/********************************************** EGITARAUA *************************************************/
/**********************************************************************************************************/

#egitaraua .contenidoEgitaraua{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.otsaiak1{
  height: 95%;
}

.aurkezpena {
  font-size:2.0em;
}
.h2Egitaraua{
  background: black;
  color: white;
  border: solid 2px #ff00ffff;
}




/* Clear floats after the columns */
.row:after {
  /*content: "";*/
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

}

.abrir{
  background-color: green;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-left: 20%;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  margin-top: 2%;
  border: solid black;
  margin-bottom: 2%;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 70%;
  table-layout: fixed;
  margin-left: 20%;
  display:none;
}

table  {
  font-size: 1.5em;
}

table tr {
  background-color: #8d73c8;
  border: 1px solid #060505;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: 20px;
  letter-spacing: .1em;
}
.egitaraua{
  border: 2px solid black;
  background: lightblue;
}
.kontzertuak{
  border: 2px solid black;
  background: lightpink;
}
.dj{
  border: 2px solid black;
  background: lightgreen;
}
.ordua{
  width: 30%;
}



@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;

  }


  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    border:2px solid black;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}


/**********************************************************************************************************/
/********************************************** MERCHANDISING *************************************************/
/**********************************************************************************************************/

#merchan .merchandising{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  margin-left: 2.5%;
}
#merchan .merchandising h2{
  padding: 20px;
  font-size: 40px;
  text-align: center;
  background:black;
  margin-top: 50px;
  border: 2px solid #ff00ffff;
  color: white;
}
#merchan .merchandising h3{
  font-size: 2em;
  font-family: texto;
}
#merchan .merchandising p{
  margin:2%;
}
#merchan .merchandising .merchand{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;

}
#merchan .objetos-merchan{width: 30%;}
#merchan .merchandising .merchand .parche0 img{ width: 50%;}
#merchan .merchandising .merchand .parche1 img{ width: 50%;}
#merchan .merchandising .merchand .parche2 img{ width: 50%;}
#merchan .merchandising .merchand .txapa img{ width: 50%; transform: rotate(-90deg);}
/**********************************************************************************************************/
/***************************************** MAPA PRODUCTOS *************************************************/
/**********************************************************************************************************/
#mapid {
  height: 700px;
  width: 100%;
  margin-left: 20px;
}
#drpDownMap{
  display: none;
}
.contenido{/*mapa*/
  display: flex;
}

/**********************************************************************************************************/
/********************************************** KONTAKTUA *************************************************/
/**********************************************************************************************************/
#kontaktua{
/*
background: -moz-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,38,0,1)), color-stop(23%, rgba(0,255,17,1)), color-stop(53%, rgba(0,255,230,1)), color-stop(82%, rgba(157,0,255,1)), color-stop(100%, rgba(247,21,0,1)));
background: -webkit-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2600', endColorstr='#f71500', GradientType=0 );
background:linear-gradient(to bottom, #F7E06C 0%, #8BD0B4 75%, #D8EEE7 100%);
}
#kontaktua .kontaktuaFlex{
  background: url("../img/fondo6.png") repeat scroll 0% 0%;
  /*padding: 5%;*/
}
#kontaktua .kontaktuaFlex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
width: 100%;
}
#kontaktua .logoKontakto{
  /*position: relative;
  height: 50%;
  width: 32%;*/
}
#kontaktua .logoKontakto img{height: 250px;}
#kontaktua .testoKontakto{
  max-width: 50%;
text-align: center;
/*
  padding: 2em;
  width: 30%;
  text-align: center;
  position: absolute;
  margin-top: 20%;
*/
}
.h2h3{
  background: black;
  color:white;
  padding: 0.45rem;
  box-decoration-break: clone;
  border:2px solid #ff00ffff;
  /*width: 80%;
  margin-left: 10%;*/
}
.kontaktoh2{
  margin-bottom: 0;
}
.kontaktoDeskripzioa{
  padding: 2%;
}
.kontaktoDeskripzioa p span{
  background: black;
  color:white;
  padding: 0.45rem;
  box-decoration-break: clone;
  font-size: 115%;
}
