/*
colores:
  #8EB726 -->verde pistacho
  #50162D --> granate disroot
  #1F5C60--> turkesa
*/


@font-face {
font-family: titulo;
src: url(../font/ComicRunes.otf) format("opentype");
}
@font-face {
font-family: menu;
src: url(../font/upheavtt.ttf) format("opentype");
}
@font-face {
font-family: punk;
src: url(../font/ShonenPunk1.ttf) format("opentype");
}
@font-face {
font-family: texto;
src: url(../font/Courier\ Prime\ Code.ttf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  font-size: 15px;
}



/*menu navegacion*/



#menu_bar{
  display: none;
}

#navegacion{
  background: url(../img/fondo05.png) black center;
  display: flex;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 15%;
  justify-content: center;

}

#navegacion ul{
  width: 100%;
}

#navegacion li#uno{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
height: 175px;
}

#navegacion li#uno a{
  height: auto;
  width: auto;
  position:absolute;
}

#navegacion li#uno a:hover{
  background: none;
}

.logoa{
  background: url("../img/logo1.png");
  height: 120px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logoa:hover{
  background: url("../img/logo2.png");
  height: 170px;
  width: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#navegacion li{
  list-style: none;
  width: 100%;
}

#navegacion a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  text-shadow: 3px 2px black;
  font-family: punk;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navegacion a:hover {
background: #000;
}



/*fondo sections*/




#hasiera{background: rgba(13,13,13,1);  color: white;
}
#berriak{background: rgba(13,13,13,1);  color: white;
}
#galeria{ background: rgb(73, 24, 61);
}
#nola-heldu{background: rgba(156,115,2,1);
}
#egitaraua{background: rgba(101,1,53,1);
}
#produktuak{ background: linear-gradient(to right, rgb(97, 0, 50) 0%, rgb(143, 87, 199) 0%, rgb(143, 87, 199) 32%, rgb(143, 87, 199) 100%);
}
#merchan{background: rgba(173,95,0,1);
}


/*paginas*/
section #hasiera, section #berriak, section #galeria, section #nola-heldu, section #produktuak{
  display: flex;
  align-items: center;
}

/*generico*/
section{
  min-height: 100vh;
  background: red;
  width: 90%;
  margin-left: 15%;

  font-weight: bold;
}

section p {
  font-family: texto;
}

.pagina{
  text-align: center;
  margin:20px;
  width: 100%;
}

 h1{
   margin-bottom: 50px;
   display: none;
 }
 h2{
   margin-bottom: 30px;
  font-family: texto;
 }

.oculto{
  display:none;
}


.galeria img{
   width: 33.33%;
   padding: 5px;
}



/*HASIERA-orriko DIV-AK*/


.manifest {
    display: inline-block;
    position: fixed;
    z-index: 1;
    top: 80%;
    left: 45%;
    background: black;
    padding: 11px;
    border: solid #f0f;
}
.manifest a{text-decoration: none;}
.manifestua{
  color: yellow;
  font-family: texto;
  font-size: 20px;
}

.paginaPrincipal{margin:0;background:#3f8175;}
.paginaPrincipal p{color:black;}
.paginaPrincipal p::before{
  content: "";
  width: 105%;
  height: 80%;
  position: absolute;
  top: 18%;
  left: -20px;
  transform: rotate(-2deg);
  border: solid 4px #ff00ffff;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
}

.paginaPrincipal p::after{
  content: "";
  width: 105%;
  height: 80%;
  position: absolute;
  transform: rotate(1deg);
  border: solid 4px #03EC23;
  top: 20%;
  left: -20px;
}
.galderak{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.galderak div {
  width: 45%;
  transform: skew(0deg, 2deg) translateY(0px);
}

.galdera1{background: #5933cc;  transform: skew(0deg, -1deg) translateY(-40px);}
.galdera2{ background: rgb(42, 70, 15);  transform: skew(0deg, -1deg) translateY(-40px);}
.galdera3{background: orange;  transform: skew(0deg, -1deg) translateY(-40px);}
.galdera4{background: #3f8175;  transform: skew(0deg, -1deg) translateY(-40px);}
.irudia1 img{
  position: absolute;
      left: -5%;
      top: -160px;
      height: 300px;
}
.irudia2 img{
position: absolute;
    left: 65%;
    top: -160px;
    height: 300px;

}
.irudia3 img{
  position: absolute;
      left: -5%;
      top: -160px;
      height: 300px;
}
.irudia4 img{
position: absolute;
    left: 65%;
    top: -160px;
    height: 300px;

}
.irudia1, .texto1{
  transform: skew(0deg, 2deg) translateY(0px);
}

.texto2{
  position: absolute;
  left: 5%;
}
.texto4 {
    position: absolute;
    left: 5%;
}

.ezmisto{
  color:black;
  display: inline-flex;
  transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  border: 4px solid #ff00aaff;
}

.ezmisto2{
  color:black;
  display: inline-flex;
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  border: 4px solid #ff00ffff;
}

/*BERRIAK*/

.contenido-blog{color:black;
width: 75%;}

.blog-titulo {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: black;
  width: 25%;
  margin: 5% 35%;
  border: 2px solid #ff00ffff;
  height: 3%;
}


.img img{
  background:center;
  width: 94%;
  padding: 20px;
  margin-left: 1%;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   margin-left: 15%;
   width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

}


/*EGITARAUA*/
.abrir{
  background-color: green;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-left: 20%;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  margin-top: 2%;
  border: solid black;
  margin-bottom: 2%;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 70%;
  table-layout: fixed;
  margin-left: 20%;
  display:none;
}

table  {
  font-size: 1.5em;
}

table tr {
  background-color: #8d73c8;
  border: 1px solid #060505;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: 20px;
  letter-spacing: .1em;
}
.egitaraua{
  border: 2px solid black;
  background: lightblue;
}
.kontzertuak{
  border: 2px solid black;
  background: lightpink;
}
.dj{
  border: 2px solid black;
  background: lightgreen;
}
.ordua{
  width: 30%;
}



@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;

  }


  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    border:2px solid black;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

/*merchan*/



.merchandising{margin:0;}
.merchandising p{
  color: black;
  position: absolute;
  width: 20%;
  left: 40%;
  top: 20%;
}

.merchand{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;

}

.kami1 img{
  position: absolute;
  top: 10%;
  height: 40%;
  width: 20%;
  left: 15%;
}
.titulo{
  margin:0 auto;
}
.deskribapena1 h2 {
    position: absolute;
    left: 30%;
    top: 5%;
}


/*mapa produktos*/



#mapid {
  height: 700px;
  width: 100%;
  margin-left: 20px;
}
#drpDownMap{
  display: none;
}
.contenido{/*mapa*/
  display: flex;
}
