@font-face {
font-family: titulo;
src: url(../font/ComicRunes.otf) format("opentype");
}
@font-face {
font-family: menu;
src: url(../font/upheavtt.ttf) format("opentype");
}
@font-face {
font-family: punk;
src: url(../font/ShonenPunk1.ttf) format("opentype");
}
@font-face {
font-family: texto;
src: url(../font/Courier\ Prime\ Code.ttf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  font-size: 15px;
}
a{text-decoration: none;}
/**********************************************************************************************************/
/**************************************** MENU NAVEGACION *************************************************/
/**********************************************************************************************************/
#menu_bar{
  display: none;
}
#navegacion{
  background:rgba(255, 255, 255, 0) url("../img/fondo.png") repeat scroll 0% 0%;
  display: flex;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 15%;
  justify-content: center;
}
#navegacion ul{
  width: 100%;
}
#navegacion li#uno{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 175px;
}
#navegacion li#uno a{
  height: auto;
  width: auto;
  position:absolute;
}
#navegacion .linkLogo{
  position: relative !important;
  height: 140px !important;
  width: 120px !important;
  background:  yellow;
  border-radius: 50%;
  transform: rotate(30deg)
}
#navegacion .logo{
  position: absolute;
  height: 120px;
  width: 100px;
  transform: rotate(-30deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#navegacion .logoa{
  background: url("../img/logoFroga00.png") no-repeat center;
  background-size: contain;
  z-index: 1;
}
#navegacion .logoFondo1{
  display: none;
  background: url("../img/logoFroga1.png") no-repeat center;
  background-size: contain;
  z-index: 0;
  left: 10px;
  top: 12px;
}
#navegacion .logoFondo2{
  display: none;
  background: url("../img/logoFroga2.png")no-repeat center;
  background-size: contain;
  z-index: 0;
  left: 12px;
  top: 10px;
}
#navegacion .linkLogo:hover{
  background:  yellow !important;
  box-shadow: 0px 0px 15px yellow;
}
#navegacion .linkLogo:hover .logoFondo1, #navegacion .linkLogo:hover .logoFondo2{
  display: block;
  animation-name: glitch1;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}
#navegacion .linkLogo:hover .logoFondo1{animation-name: glitch1;}
@keyframes glitch1{ from{left: 10px;} to {left: 8px;} }

#navegacion .linkLogo:hover .logoFondo2{animation-name: glitch2;}
@keyframes glitch2{ from{left: 12px;} to {left: 10px;} }

#navegacion li{
  list-style: none;
  width: 100%;
}
#navegacion a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  text-shadow: 3px 2px black;
  font-family: punk;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#navegacion .link:hover {
  background: #000;
}
#navegacion li#hizkuntza{
  background-color: #000;
}
#menu_bar li#hizkuntza a, #navegacion li#hizkuntza a{
  font-size: 15px;
  font-family: texto;
  height: 40px;
  font-weight: bold;
}
#menu_bar li#hizkuntza a:hover, #navegacion li#hizkuntza a:hover{
  color: yellow;
}

/**********************************************************************************************************/
/**************************************** FONDO SECTIONS* *************************************************/
/**********************************************************************************************************/
#berriak{background: rgba(13,13,13,1);  color: white;}
#zerbitzuak{background: rgb(136, 118, 118);  color: white;}
#galeria{ background: rgb(73, 24, 61);}
#nola-heldu{background: rgba(156,115,2,1);}
#egitaraua{background: rgba(101,1,53,1);}
#produktuak{ background: linear-gradient(to right, rgb(97, 0, 50) 0%, rgb(143, 87, 199) 0%, rgb(143, 87, 199) 32%, rgb(143, 87, 199) 100%);}
#merchan{background: rgba(173,95,0,1);}
#kontaktua{background: url(../img/fondo61.png)}

/**********************************************************************************************************/
/************************************************ PAGINAS *************************************************/
/**********************************************************************************************************/
section #hasiera, section #berriak, section #galeria, section #nola-heldu, section #produktuak{
  display: flex;
  align-items: center;
}
/**********************************************************************************************************/
/*********************************************** GENERICO *************************************************/
/**********************************************************************************************************/
section{
  min-height: 100vh;
  width: 90%;
  margin-left: 15%;
  font-weight: bold;
}
section p {
  font-family: texto;
  line-height: 1.6;
}
section p span{
  padding: 0.45rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background:black;
  color:white;
  font-size: 90%;
}
.pagina{
  text-align: center;
  margin:20px;
  width: 100%;
}

h2{
   margin-bottom: 30px;
  font-family: texto;
}
.oculto{
  display:none;
}
.galeria img{
   width: 33.33%;
   padding: 5px;
}

/**********************************************************************************************************/
/************************************************ HASIERA *************************************************/
/**********************************************************************************************************/
#hasiera .logoPortada{
  width: 100%;
  height: 100px;
  margin: 50px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hasiera .paginaPrincipal .logoPortada h1{
  font-family: punk;
  font-size: 55px;
  color: #000;
  position: relative;
  z-index: 0;
}
#hasiera .paginaPrincipal .logoPortada h1:after, #hasiera .paginaPrincipal .logoPortada h1:before{
  content: "MAMARRU FEST-A";
  position: absolute;
}
#hasiera .paginaPrincipal .logoPortada h1:after{
  left: -3px;
  color:#f0f;
  z-index: -1;
  top: 3px;
}
#hasiera .paginaPrincipal .logoPortada h1:before{
  right: -3px;
  color: blueviolet;
  z-index: -2;
}
#hasiera .paginaPrincipal .logoPortada span{
  font-family: punk;
  font-size: 20px;
  color:  white;
  background:  black;
  padding: 7px 25px;
  margin-left: 75px;
}
#hasiera{
/*
background: -moz-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,38,0,1)), color-stop(23%, rgba(0,255,17,1)), color-stop(53%, rgba(0,255,230,1)), color-stop(82%, rgba(157,0,255,1)), color-stop(100%, rgba(247,21,0,1)));
background: -webkit-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2600', endColorstr='#f71500', GradientType=0 );
background: linear-gradient(to bottom, #F7E06C 0%, #F8CED2 25%, #ED5B46 50%, #8BD0B4 75%, #D8EEE7 100%);
}
#hasiera .paginaPrincipal{
  background: url("../img/fondo31.png") repeat scroll 0% 0%;
  padding: 20px;
}
#hasiera .paginaPrincipal p{
  color:black;
}
#hasiera .paginaPrincipal p::before{
  /*content: "";*/
  width: 100%;
  height: 80%;
  position: absolute;
  top: 18%;
  left: -20px;
  transform: rotate(-2deg);
  border: solid 4px #ff00ffff;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
}
#hasiera .paginaPrincipal p::after{
  /*content: "";*/
  width: 100%;
  height: 80%;
  position: absolute;
  transform: rotate(1deg);
  border: solid 4px #03EC23;
  top: 20%;
  left: -20px;
}
#hasiera .paginaPrincipal .galderak{
  min-height: 500px;
  /*height: 100vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
#hasiera .paginaPrincipal .galderak div {
  width: 50%;
  position: relative;
}
#hasiera .paginaPrincipal .galderak .irudia1 img{left: -5%;top: -160px;height: 300px;}
#hasiera .paginaPrincipal .galderak .irudia2 img{left: 65%;top: -160px;height: 300px;}
#hasiera .paginaPrincipal .galderak .irudia3 img{left: -5%;top: -160px;height: 300px;}
#hasiera .paginaPrincipal .galderak .irudia4 img{left: 65%;top: -160px;height: 300px;}

/*#hasiera .paginaPrincipal .galderak .texto2{left: 5%;}
#hasiera .paginaPrincipal .galderak .texto4 {left: 5%;}*/

#hasiera .paginaPrincipal .galderak h2 .ezmisto{
  color:black;
  display: inline-flex;
  transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  border: 4px solid #ff00aaff;
}
#hasiera .paginaPrincipal .galderak h2 .ezmisto2{
  color:black;
  display: inline-flex;
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  border: 4px solid #ff00ffff;
}
/**********************************************************************************************************/
/************************************************ MANIFESTUA ***********************************************/
/**********************************************************************************************************/
#hasiera .manifest {
  display: inline-block;
  position: fixed;
  z-index: 1;
  top: 85%;
  left: 60%;
  background: black;
  padding: 11px;
  border: solid #f0f;
}
#hasiera .manifest a .manifestua{
  color: yellow;
  font-family: texto;
  font-size: 20px;
}
/**********************************************************************************************************/
/************************************************ BERRIAK *************************************************/
/**********************************************************************************************************/
#berriak #berriakContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#berriak #berriakContainer .blog-titulo{
  padding: 20px;
  font-size: 40px;
  text-align: center;
  background:black;
  margin-top: 50px;
  border: 2px solid#ff00ffff;
}
#berriak #berriakContainer .blog-titulo h2{
  margin-bottom: 0px;
}
#berriak #berriakContainer .contenido-blog{
  color:black;
  width: 80%;
  margin-top: 20px;
}
#berriak #berriakContainer .contenido-blog .card {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}
#berriak #berriakContainer .contenido-blog .card .img{
  margin: 15px 0px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#berriak #berriakContainer .contenido-blog .card .img img{
  width: 50%;
}
/* Add a card effect for articles */

/**********************************************************************************************************/
/********************************************** ZERBITZUAK*************************************************/
/**********************************************************************************************************/
.kontent-zerbitzuak {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.lista-zerbitzuak{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 90%;
  align-content: center;
}
.lista-zerbitzuak li{
  /*width: 25%;
  height: 25%;*/

}
.element-zerbitzuak{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}/*
.l1{background: red;}
.l2{background: blue;}
.l3{background: yellow;}
.l4{background: blueviolet;}
.l5{background: green;}
.l6{background: grey;}
.l7{background: violet;}
.l8{background: orange;}
.l1 .kotxea{background: url(../img/kotxeak.png); }
/**********************************************************************************************************/
/********************************************** EGITARAUA *************************************************/
/**********************************************************************************************************/

#egitaraua .contenidoEgitaraua{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.otsaiak1{
  height: 95%;
}

.aurkezpena {
  font-size:2.0em;
}
.h2Egitaraua{
  background: black;
  color: white;
  border: solid 2px #ff00ffff;
}

/*************************** lista de taldes ********************************/
.kontent-taldeak{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.kontent-taldeak .lista-taldeak{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  align-content: center;
  margin: 0 50px;
}
.kontent-taldeak .lista-taldeak .element-taldeak{
  width: 200px;
  height: 200px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kontent-taldeak .lista-taldeak .element-taldeak .box {
  text-align: center;
}
.kontent-taldeak .lista-taldeak .element-taldeak .box .button{
  font-size: 1em;
  color:#fff;
  text-decoration: none;
  cursor: pointer;
  display: block;
  position: relative;
}
.kontent-taldeak .lista-taldeak .element-taldeak .box .button:hover p{
  background:rgba(0,0,0,0.9);
  font-size: 20px;
  font-weight: 800;
}
.kontent-taldeak .lista-taldeak .element-taldeak .box .button .talde-irudiak{
  width: 200px;
  height: 200px;
}
.kontent-taldeak .lista-taldeak .element-taldeak .box .button p{
  font-family: texto;
  line-height: 1.6;
  position: absolute;
  height: 200px;
  background:rgba(0,0,0,0.5);
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.lt4{background: blueviolet;}
.lt5{background: green;}
.lt6{background: grey;}
.lt7{background: violet;}
.lt8{background: orange;}

/**pop up*/
.kontent-taldeak .lista-taldeak .element-taldeak .overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kontent-taldeak .lista-taldeak .element-taldeak .overlay:target {
  visibility: visible;
  opacity: 1;
}

.kontent-taldeak .lista-taldeak .element-taldeak .overlay .popup {
  width: 800px;
  margin: 0;
  padding: 60px 25px 25px 25px;
  background: #060606;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
  color:white;
  font-family: texto;
  border: solid 3px white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: start;
}

.kontent-taldeak .lista-taldeak .element-taldeak .overlay .popup h2 {
  position: absolute;
  top: 10px;
  color: #f2f0f0;;
  font-family: Tahoma, Arial, sans-serif;
}
.kontent-taldeak .lista-taldeak .element-taldeak .overlay .popup .close {
  position: absolute;
  top: 0px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color:white;
}
.kontent-taldeak .lista-taldeak .element-taldeak .overlay .popup .close:hover {
  color: #06D85F;
}
.kontent-taldeak .lista-taldeak .element-taldeak .overlay .popup .content {
  max-height: 30%;
  overflow: auto;
  width: 350px
}
.kontent-taldeak .lista-taldeak .element-taldeak .overlay .popup .content p{
  text-align: justify;
}
.kontent-taldeak .lista-taldeak .element-taldeak .overlay .popup .content .links-taldeak{
  margin-top: 10px;
}

.kontent-taldeak .lista-taldeak .element-taldeak .overlay .popup .popup-imagen{
  max-width: 275px;
  border: solid 3px #f0a;
}

@media screen and (max-width: 700px){
  .kontent-taldeak{
    padding-top: 60px;
  }
  .kontent-taldeak .lista-taldeak{
    justify-content: center;
  }
  .kontent-taldeak .lista-taldeak .element-taldeak .overlay .popup{
    flex-direction: column;
    align-items: center;
    width: 75%;
    min-width: 0;
  }
  .kontent-taldeak .lista-taldeak .element-taldeak .overlay .popup .content{
    margin-top: 10px;
    width: 95%;
  }
}

/* Clear floats after the columns */
.row:after {
  /*content: "";*/
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

}

.abrir{
  background-color: green;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-left: 20%;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  margin-top: 2%;
  border: solid black;
  margin-bottom: 2%;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 70%;
  table-layout: fixed;
  margin-left: 20%;
  display:none;
}

table  {
  font-size: 1.5em;
}

table tr {
  background-color: #8d73c8;
  border: 1px solid #060505;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: 20px;
  letter-spacing: .1em;
}
.egitaraua{
  border: 2px solid black;
  background: lightblue;
}
.kontzertuak{
  border: 2px solid black;
  background: lightpink;
}
.dj{
  border: 2px solid black;
  background: lightgreen;
}
.ordua{
  width: 30%;
}



@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;

  }


  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    border:2px solid black;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}


/**********************************************************************************************************/
/********************************************** MERCHANDISING *************************************************/
/**********************************************************************************************************/

#merchan .merchandising{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  margin-left: 2.5%;
}
#merchan .merchandising h2{
  padding: 20px;
  font-size: 40px;
  text-align: center;
  background:black;
  margin-top: 50px;
  border: 2px solid #ff00ffff;
  color: white;
}
#merchan .merchandising h3{
  font-size: 2em;
  font-family: texto;
}
#merchan .merchandising p{
  margin:2%;
}
#merchan .merchandising .merchand{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}
#merchan .merchandising .merchand .kami1{
  width: 200px;
  height: 250px;
}
#merchan .merchandising .merchand .kami1 img{
  width: 100%;

}
#merchan .objetos-merchan{width: 30%;}
#merchan .merchandising .merchand .parche0 img{ width: 50%;}
#merchan .merchandising .merchand .parche1 img{ width: 50%;}
#merchan .merchandising .merchand .parche2 img{ width: 50%;}
#merchan .merchandising .merchand .txapa img{ width: 50%; transform: rotate(-90deg);}
/**********************************************************************************************************/
/***************************************** MAPA PRODUCTOS *************************************************/
/**********************************************************************************************************/
#mapid {
  height: 700px;
  width: 100%;
  margin-left: 20px;
}
#drpDownMap{
  display: none;
}
.contenido{/*mapa*/
  display: flex;
}

/**********************************************************************************************************/
/********************************************** KONTAKTUA *************************************************/
/**********************************************************************************************************/
#kontaktua{
/*
background: -moz-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,38,0,1)), color-stop(23%, rgba(0,255,17,1)), color-stop(53%, rgba(0,255,230,1)), color-stop(82%, rgba(157,0,255,1)), color-stop(100%, rgba(247,21,0,1)));
background: -webkit-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(0,255,17,1) 23%, rgba(0,255,230,1) 53%, rgba(157,0,255,1) 82%, rgba(247,21,0,1) 100%);
*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2600', endColorstr='#f71500', GradientType=0 );
background:linear-gradient(to bottom, #F7E06C 0%, #8BD0B4 75%, #D8EEE7 100%);
}
#kontaktua .kontaktuaFlex{
  background: url("../img/fondo61.png") repeat scroll 0% 0%;
  /*padding: 5%;*/
}
#kontaktua .kontaktuaFlex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#kontaktua .logoKontakto img{height: 250px;}
#kontaktua .testoKontakto{
  max-width: 50%;
  text-align: center;
}
.h2h3{
  background: black;
  color:white;
  padding: 0.45rem;
  box-decoration-break: clone;
  border:2px solid #ff00ffff;
}
.kontaktoh2{
  margin-bottom: 0;
}
.kontaktoDeskripzioa{
  padding: 2%;
}
.kontaktoDeskripzioa p span{
  background: black;
  color:white;
  padding: 0.45rem;
  box-decoration-break: clone;
  font-size: 115%;
}
